<% if (page.total > 1){ %>
  <footer class="page-footer">
    <nav class="nav">
      <ul class="page-footer-list">
        <li class="page-footer-list-item">Page <%= page.current %> <%= __('of') %> <%= page.total %></li><% if (page.prev){ %><li class="page-footer-list-item"><a href="<%- config.root %><%- page.prev_link %>" class="page-footer-link"><%= __('Previous') %></a></li><% } %><li class="page-footer-list-item"><% if (page.next){ %><a href="<%- config.root %><%- page.next_link %>" class="page-footer-link"><%= __('Next') %></a><% } %></li>
      </ul>
    </nav>
  </footer>
<% } %>
