<header class="page-header">
  <a class="page-title" href="<%= config.root %>"><%= __('Title') %></a>
  <nav class="nav">
    <ul class="page-header-list">
      <li class="page-header-list-item">
        <a href="<%= config.root %>" class="page-header-link"><%= __('Latest') %></a>
      </li>
      <li class="page-header-list-item">
        <a href="<%= config.root + config.archive_dir %>" class="page-header-link"><%= __('Archive') %></a>
      </li>
      <!--
      <li class="page-header-list-item">
        <a href="<%= config.root + config.tag_dir %>" class="page-header-link"><%= __('Tags') %></a>
      </li>
      -->
      <li class="page-header-list-item">
        <a href="<%= config.root %>about" class="page-header-link"><%= __('About') %></a>
      </li>
    </ul>
  </nav>
</header>
