<header class="page-header">
  <nav class="nav nav--main">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link"><%= __('Title') %></a>
      </li>
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link"><%= __('Latest') %></a>
      </li>
      <li class="nav-item">
        <a href="<%= config.root + config.archive_dir %>" class="nav-link"><%= __('Archive') %></a>
      </li>
      <!--
      <li class="nav-item">
        <a href="<%= config.root + config.tag_dir %>" class="nav-link"><%= __('Tags') %></a>
      </li>
      -->
      <li class="nav-item">
        <a href="<%= config.root %>about" class="nav-link"><%= __('About') %></a>
      </li>
    </ul>
  </nav>
</header>
