<article class="post" data-post-id="<%= post._id %>">
  <figure class="post-cover" style="background-image: url('cover.jpg')"></figure>
  <header class="post-header">
    <a href="<%- url_for(post.path) %>">
      <h1 class="post-title"><%= post.title %></h1>
    </a>
  </header>
  <section class="post-content">
    <%- post.content %>
  </section>
  <%- partial('post-meta') %>
</article>
