<article class="post" data-post-id="<%= post._id %>">
  <figure class="post-cover" style="background-image: url('<%- url_for(post.path) %>cover.png')"></figure>
  <h1 class="post-title"><%= post.title %></h1>
  <section class="post-content">
    <%- post.content %>
  </section>
  <%- partial('post-meta') %>
</article>
